<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="fragments :: header ('tag', ${title})"></head>

<body>

<div th:replace="fragments :: preloader"></div>
<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">
    <div th:replace="fragments :: brand"></div>
    <div th:replace="fragments :: header-bar"></div>
    <div th:replace="fragments :: sidebar"></div>

    <div class="content-body">

        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->

        <div class="container-fluid">
            <div layout:fragment="content">
                <p>Changing contents</p>
            </div>
        </div>
        <!-- #/ container -->
    </div>
    <!--**********************************
        Content body end
    ***********************************-->

    <div th:replace="fragments :: footer"></div>
</div>
<!--**********************************
    Main wrapper end
***********************************-->

<div th:replace="fragments :: scripts ('tag')"></div>

</body>
</html>